#include <dt-bindings/clock/bcm2835-aux.h>
#include <dt-bindings/clock/bcm2835.h>
/*
 * Device tree overlay for the Universal Digital Radio Controller
 */

/dts-v1/;
/plugin/;

/ {
    compatible = "brcm,bcm2835", "brcm,bcm2836", "brcm,bcm2708", "brcm,bcm2709";
    fragment@0 {
        target-path = "/clocks";
        __overlay__ {
            udrx_osc: udrx_osc {
                compatible = "fixed-clock";
                #clock-cells = <0>;
                clock-frequency = <25000000>;
            };
        };
    };

    fragment@1 {
        target = <&i2s>;
        __overlay__ {
            clocks = <&cprman BCM2835_CLOCK_PCM>;
            clock-names = "pcm";
            status = "okay";
        };
    };

    fragment@2 {
        target-path = "/";
        __overlay__ {
            regulators {
                compatible = "simple-bus";
                #address-cells = <1>;
                #size-cells = <0>;

                udrc0_ldoin: udrc0_ldoin {
                    compatible = "regulator-fixed";
                    regulator-name = "ldoin";
                    regulator-min-microvolt = <3300000>;
                    regulator-max-microvolt = <3300000>;
                    regulator-always-on;
                };
            };
        };
    };

    fragment@3 {
        target = <&i2c_arm>;
        __overlay__ {
            #address-cells = <1>;
            #size-cells = <0>;
            status = "okay";

            pcf85063: pcf85063@61 {
                compatible = "nxp,pcf85063";
                reg = <0x61>;
                status = "okay";
            };

            lm75b: lm75b@50 {
                compatible = "lm75b";
                reg = <0x50>;
                status = "okay";
            };

            ad5247: ad5247@2d {
                compatible = "ad5247";
                reg = <0x2d>;
                status = "okay";
            };
        };
    };

    fragment@4 {
		target = <&sound>;
		__overlay__ {
			compatible = "nwdr,udrc";
			i2s-controller = <&i2s>;
			codec-device = <&tlv320aic32x4>;
			status = "okay";
		};
    };


    fragment@5 {
        target = <&spi0>;
        __overlay__ {
            #address-cells = <1>;
            #size-cells = <0>;
            pinctrl-0 = <&spi0_pins &spi0_cs_pins>;
            pinctrl-names = "default";
            status = "okay";
            /* cs-gpios = <&gpio 8 1>, <&gpio 7 1>, <&gpio 17 1>, <&gpio 27 1>, <&gpio 16 1>; */
            cs-gpios = <&gpio 7 1>, <&gpio 12 1>, <&gpio 5 1>, <&gpio 8 1>, <&gpio 16 1>;

            spidev@0 {
                status = "disabled";
            };

            spidev@1 {
            	status = "disabled";
            };

            adf4360@0 {
            	#address-cells = <1>;
                #size-cells = <0>;
                compatible = "adi,adf4360";
                reg = <0>;
                status = "okay";
                
                spi-max-frequency = <20000000>;
            };

            tlv320aic32x4: tlv320aic32x4@1 {
                #address-cells = <1>;
                #size-cells = <0>;
                compatible = "ti,tlv320aic32x4";
                reg = <1>;
                status = "okay";

                pinctrl-names = "default";
                pinctrl-0 = <&master_reset>;

                reset-gpios = <&gpio 25 1>;
                
                spi-max-frequency = <10000000>;
                spi-cpha;

                clocks = <&udrx_osc>;
                clock-names = "mclk";

                iov-supply = <&udrc0_ldoin>;
                ldoin-supply = <&udrc0_ldoin>;

				ti,hp-ldoin-powered;
				ti,lo-ldoin-powered;

				ti,avdd-weak-disable;
		
				ti,common-mode-microvolt = <1650000>;
            };
            
            cmx991@2 {
            	#address-cells = <1>;
            	#size-cells = <0>;
            	compatible = "cml,cmx991";
            	reg = <2>;
            	status = "okay";
            	
            	spi-max-frequency = <5000000>;
            };
            
            ad9832@3 {
                #address-cells = <1>;
                #size-cells = <0>;
                compatible = "adi,ad9832";
                reg = <3>;
                status = "okay";
                
                spi-max-frequency = <20000000>;
                spi-cpha;

                vcc-supply = <&udrc0_ldoin>;                
            };

            mcp3008@4 {
                #address-cells = <1>;
                #size-cells = <0>;
                compatible = "mcp3008";
                reg = <4>;
                status = "okay";

                spi-max-frequency = <1350000>;
            };
            
        };
    };

    fragment@6 {
        target = <&gpio>;
        __overlay__ {
            spi0_cs_pins: spi0_cs_pins {
                brcm,pins = <5 7 8 12 16>;
                brcm,function = <1>;
            };

            pwm_pins: pwm_pins {
                brcm,pins = <13>;
                brcm,function = <4>;
            };

            master_reset: master_reset {
                brcm,pins = <25>;
                brcm,function = <1>;
                brcm,pull = <1>;
            };
        };
    };

    fragment@7 {
        target = <&cprman>;
        __overlay__ {
            status = "okay";
        };
    };
    
    fragment@8 {
    	target = <&sdhost>;
    	__overlay__ {
    		clocks = <&cprman BCM2835_CLOCK_EMMC>;
    	};
    };

    fragment@9 {
        target = <&pwm>;
        __overlay__ {
            clocks = <&cprman BCM2835_CLOCK_PWM>;
            status = "okay";
        };
    };
};
